<html>
<head>
  <style>
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  </style>
</head>
<body>
  <div class="grid-container">
  <div class="grid-item"><input  type="image" src={{ url_for('static', filename='images/cereal.jpg') }} onclick="sendReq(this)" value="cereal"  /></div>
  <div class="grid-item"><input  type="image" src={{ url_for('static', filename='images/shampoo.jpg') }} onclick="sendReq(this)" value="shampoo" /></div>
  <div class="grid-item"><input  type="image" src={{ url_for('static', filename='images/cereal.jpg') }} onclick="sendReq(this)" value="cereal"  /></div>
  <div class="grid-item"><input  type="image" src={{ url_for('static', filename='images/shampoo.jpg') }} onclick="sendReq(this)" value="shampoo" /></div>
  <div class="grid-item"><input  type="image" src={{ url_for('static', filename='images/cereal.jpg') }} onclick="sendReq(this)" value="cereal"  /></div>
  <div class="grid-item"><input  type="image" src={{ url_for('static', filename='images/shampoo.jpg') }} onclick="sendReq(this)" value="shampoo" /></div>
  <div class="grid-item"><input  type="image" src={{ url_for('static', filename='images/cereal.jpg') }} onclick="sendReq(this)" value="cereal"  /></div>
  <div class="grid-item"><input  type="image" src={{ url_for('static', filename='images/shampoo.jpg') }} onclick="sendReq(this)" value="shampoo" /></div>
  <div class="grid-item"><input  type="image" src={{ url_for('static', filename='images/cereal.jpg') }} onclick="sendReq(this)" value="cereal"  /></div>
</div>
  <div class="grid-container">
    <div class="grid-item">  <input  type="image" src={{ url_for('static', filename='images/cereal.jpg') }} onclick="sendReq(this)" value="cereal"  /></div>
    <div class="grid-item">  <input  type="image" src={{ url_for('static', filename='images/shampoo.jpg') }} onclick="sendReq(this)" value="shampoo" /></div>
    <div class="grid-item">  <input  type="image" src={{ url_for('static', filename='images/cereal.jpg') }} onclick="sendReq(this)" value="cereal" /></div>
    <div class="grid-item">  <input  type="image" src={{ url_for('static', filename='images/shampoo.jpg') }} onclick="sendReq(this)" value="shampoo" /></div>
    <div class="grid-item">  <input  type="image" src={{ url_for('static', filename='images/cereal.jpg') }} onclick="sendReq(this)" value="cereal"  /></div>
    <div class="grid-item">  <input  type="image" src={{ url_for('static', filename='images/shampoo.jpg') }} onclick="sendReq(this)" value="shampoo" /></div>
    <div class="grid-item">  <input  type="image" src={{ url_for('static', filename='images/cereal.jpg') }} onclick="sendReq(this)" value="cereal"  /></div>
    <div class="grid-item">  <input  type="image" src={{ url_for('static', filename='images/shampoo.jpg') }} onclick="sendReq(this)" value="shampoo" /></div>
    <div class="grid-item">  <input  type="image" src={{ url_for('static', filename='images/cereal.jpg') }} onclick="sendReq(this)" value="cereal" /></div>

  </div>

</body>
</html>
<script type="text/javascript">

  function sendReq(e){
    let xhr = new XMLHttpRequest();
    xhr.open("POST", '/' + e.value);
    xhr.send();
    console.log(e.value);

  }

</script>
