<link rel="stylesheet" href="{{url_for('static', filename='css/vis_img.css')}}">
<!--
{% block scripts %}
<script src={{ url_for('static', filename='js/scripts.js') }}></script>
{% endblock %}-->

{% block content %}
<a href="/" >
  <div class="row">
    <div class="column">
    <img src="{{url_for('static', filename='images/vis_room.jpg')}}?{{ range(1, 200) | random }}" height="100%" width="50%"/>
    </div>
  <div class="column">
<img src="{{url_for('static', filename='images/vis.jpg')}}?{{ range(1, 200) | random }}" height="100%" width="50%" />
</div>

</a>
{% endblock %}
